.container{
    width: 90%;
    margin: auto;
}

.cart{
    width: 30%;
     box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
     padding: 20px;

     height: 480px;
     
     border-radius: 10px;
}

.cart img{
    width: 100%;
}

.cart h4{
    font-size: 25px;
    margin: 0; 
    text-align: center;   
}

.cart p{
    font-size: 18px;
    margin: 0;
    font-family: cursive;
}


.cart h6{
    margin: 0;
    margin-top: 10px;
    font-size: 20px;
}


.cart button{
  
  background-color: red;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  color: #ffff;
  
  float: inline-end;

}

nav{
    display: flex;
    justify-content: space-between;
}

nav ul{
    display: flex;
}

nav ul li{
    list-style: none;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 10px;
}

nav ul li i{
    font-size: 25px;
}


.bg-img{
    width: 75%;
    margin: auto;
    border: solid 2px black;
    padding: 10px;
    border-radius: 10px;
}

.bg-img img{
    border-radius: 10px;
    
}

.all-card{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


.footer{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.footer div ul{
    list-style: none;
}

.footer div ul li{
    margin-top: 5px;
}